* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  cursor: default;
  background-color: #F0F0F0;
  color: #1C1C1A;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 10vh;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);  /* optional drop shadow */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
  padding: 10vh;
}

.logo-container img {
  height: 40px;
  width: auto;
  fill: white;
}

.main__header {
  margin-bottom: 20px;
}

/*refactor: replaced id with class*/
.pianoRollContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(250px, 33%), 1fr));/**up to three columns with width no less than 250px**/
  grid-gap: 5px;
  grid-auto-rows: 1fr;
  /*prefixes to support older browsers*/
  display: -ms-grid;
  display: -moz-grid;
}

h1 {
  font-size: 42px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  color: #F0F0F0;
  background-color: #944038;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  /* styles for transform animation */
  border-bottom: 3px solid #381815;  /* A darker shade for 3D effect */
  position: relative;  /* Required for the top movement on hover */
  transition: all 1.1s ease;  /* Transition for all properties */
}

/*refactor: replaced id with class*/
.buttonContainer {
  display: flex;
  justify-content: center;
}

button:hover {
  transform: scale(1.05);
}


.piano-roll-card {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.piano-roll-svg {
  border: 2px solid #381815;
}

.description {
  margin-top: 10px;
}

/*styles for when main card is selected*/
.pianoRollContainer:has(._main) * {
  grid-column: -2/ span 1;
}

.piano-roll-card._main {
  order: -1;
  grid-column: span 2;
  grid-row: span 2;
}

